<!DOCTYPE html>
<html>
<head>
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header th:fragment="header">
        <div class="navbar">
  <a href="home">Home</a>
  <!--  <div class="dropdown">
    <button class="dropbtn">Services
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Ac-Room</a>
      <a href="#">Non-AC Room</a>
      <a href="#">Delux Room</a>
    </div>
  </div>-->
  <a href="service">Services</a>
  <a href="details">Booking-Details</a>
  <a href="about">About-Us</a>
  <a href="contact">Contact-Us</a>
  <a href="logout">Logout</a>
</div>
</body>
</html>
